:root {
    --color1: #CB1F5A;
    --color2: #36CACC;
    --color3: #D3CACE;
    --color4: #21303B;
    --color5: #327987;
  }
  
  
  
  body {
    background-color: var(--color4);
    color: var(--color3);
    font-family: 'Arial', sans-serif;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .text-center {
    margin: 0 auto;
    text-align: center;
  }
  
  .card-container {
    margin: 0;
    height: auto; /* En lugar de 100vh, para permitir que la altura sea determinada por el contenido */
    display: flex; /* Utilizar flexbox en lugar de grid */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* No se aplica en flexbox, puedes utilizar márgenes en los elementos hijos o `gap` en un contenedor flex */
    padding: 20px;
  }
  
  .card {
    background-color: var(--color2);
    padding: 15px;
    width: calc(100% - 30px);
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .card h2 {
    color: var(--color1);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .host-info {
    color: var(--color5);
    margin-top: 2rem;
  }

/* Estilos Juan daniel  */

#start-now {
    font-size: 1em;
    font-weight: bold;
    width: 200px;
    height: 40px;
    background-color: #C1121F;
    color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 10);
    transition: box-shadow 0.3s ease-in-out;

    margin: auto;
    display: block;
}

#start-now:hover {
    color: #C1121F;
    background-color: #FDF0D5;
}

button {
    font-size: 0.75em;
    padding: 5px 15px;
    font-weight: 600;
}

.container {
    max-width: 1400px;
    margin: 0px;
}

header {
    margin: 0px;
    background-color: #003049;
    
}

header .logo {
    display: flex;
    margin: 0px;
    padding: 10px 15px;
}

#logo-pixel {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #FDF0D5;
    margin: 0;
}

#logo-hub {
    font-family: "Century Gothic", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #003049;
    background-color: #FDF0D5;
    border-radius: 8px;
    padding: 2px;
    margin: 0px 2px;
}

header .container {
    max-width: 1400px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #8ac0e4;
    padding: 2px 10px;
}

header a:hover {
    background-color: #669BBC;
    color: #FDF0D5;
    border-radius: 10px;
}

#subtitulo {
    color: #FDF0D5;
    text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
}

#hero {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    background-image: linear-gradient(0deg,
            rgb(0, 0, 0, 0.5),
            rgb(0, 0, 0, 0.5)), url("./images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #FDF0D5;
    text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
}

.hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.icon-cards {
    width: 50%;
}

.icon-cards p {
    color: #FFF;
}

#hero h1 {
    margin-top: 50px;
    margin-bottom: 0px;
}

body {
    background-color: #669BBC;
}

.icon-cards {
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 75vh;
    overflow: hidden;
}

.card {
    width: calc(50% - 10px);
    height: 170PX;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
