<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PixelHub</title>
   

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/gif.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

</head>

<body>

    <header>
         
        <div class="container">
            <div class="logo">
                <p id="logo-pixel">Pixel</p>
                <p id="logo-hub">Hub</p>
            </div>
            <nav>
                <a href="#">Start</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>
    


    <div class="text-center"> <!-- Contenedor centrado -->
        <h1 class="my-4">Pixel-Icon</h1>
        <div class="card-container">
            {{ range .Images }}
            <div class="card" onclick="redirectToOtherHTML('{{ .foldername }}')">
                <h2 style="color: #003049;">{{ .foldername }}</h2>
                <img src="data:image/jpeg;base64,{{ .base64 }}" alt="{{ .filename }}">
            </div>
            {{ end }}
        </div>
    </div>

    <script>
        function redirectToOtherHTML(folderName) {
            window.location.href = '/open_folder?folder=' + encodeURIComponent(folderName);
        }
    </script>

    <footer>
        <div class="container">
            <p>&copy; PixelHub 2024</p>
            <p>Nombre del host: {{ .Hostname }}</p>
        </div>
    </footer>
</body>

</html>